<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://dl.chinanews.com/apps/chinanews/current/ChinaNews.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://dl.chinanews.com/apps/chinanews/Icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.chinanews.Hchinanews</string>
				<key>bundle-version</key>
				<string>3.0.1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>中新网</string>
				<key>title</key>
				<string>中新网</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
